<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Add Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">

</head>
<body>
    <header>
        <div class="logo">
            <h1 style="color:rgb(190, 190, 195);">Power Fitness</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
     
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Gym Website. All Rights Reserved.</p>
            <div class="social">
                <a href="#">Facebook</a>
                <a href="https://www.instagram.com/mr._prasad__007/">Instagram</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </footer>
</body>
</html>
